apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: food-challenge-api
  namespace: fiap-tech-challenge
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: food-challenge-api
  minReplicas: 1
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
