apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: fiap-tech-challenge
spec:
  serviceName: "postgres"
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          ports:
            - containerPort: 5432
          resources:
            requests:
              cpu: 250m
              memory: 256Mi            
          envFrom:
            - configMapRef:
                name: postgres-configmap
            - secretRef:
                name: postgres-secrets
          volumeMounts:
            - name: init-sql
              mountPath: /docker-entrypoint-initdb.d
            - name: pgdata
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: init-sql
          configMap: 
            name: init-sql       
  volumeClaimTemplates:
    - metadata:
        name: pgdata
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 1Gi
