services:
  foodchallenge_payment_api:
    image: julianoliveira/foodchallenge-payment-api
    container_name: foodchallenge_payment_api
    build:
      context: ../../src/FoodChallenge.payment
      dockerfile: ../../tools/docker/build/dotnet.web-api.Dockerfile
      target: final
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      MongoDb__ConnectionString: ${MongoDb__ConnectionString}
      MongoDb__DatabaseName: ${MONGO_DATABASE}
      MercadoPago__BaseUrl: ${MercadoPago__BaseUrl}
      MercadoPago__AccessToken: ${MercadoPago__AccessToken}
      MercadoPago__UserId: ${MercadoPago__UserId}
      MercadoPago__CaixaCodigo: ${MercadoPago__CaixaCodigo}
      OAuth__Authority: ${OAuth__Authority}
    networks:
      - foodchallenge_network
    ports:
      - "5002:5002"

volumes:
  foodchallenge_data:
    driver: local

networks:
  foodchallenge_network:
    driver: bridge
